<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Add a New Course</h1>
    <form action ="add_course" method="post">
        {% csrf_token %}
        <p>Name: <input type="text" name="name"></p>
        <p>Description: <input type="text" name="desc"></p>
        <p><input type="submit" value="Add"></p>
        
    </form>
    <h1>Course</h1>
    {% for course in all_courses %}
        
        <p>Name: {{course.name}}</p>
        <p>Description: {{course.desc}}</p>
        <a href="/delete/{{course.id}}">Delete Course</a>
    {% endfor %}
    
</body>
</html>